In [89]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [1]:
a = "hi! Everybody, i'm David"

In [2]:
a.capitalize()

"Hi! everybody, i'm david"

In [3]:
a.title()

"Hi! Everybody, I'M David"

In [4]:
a.upper()

"HI! EVERYBODY, I'M DAVID"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [5]:
a.lower()

"hi! everybody, i'm david"

In [6]:
a.swapcase()

"HI! eVERYBODY, I'M dAVID"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다. `string`, `list`는 iterable함

In [9]:
'!'.join(a)

"h!i!!! !E!v!e!r!y!b!o!d!y!,! !i!'!m! !D!a!v!i!d"

In [12]:
'!'.join(['hi','everybody'])

'hi!everybody'

In [18]:
a = [1,2,3]
''.join(map(str, a))

'123'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [17]:
'wow!'.replace('w', 'W')

'WoW!'

In [19]:
'woooow!'.replace('o','_', 2)

'w__oow!'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [20]:
'               wow!    '.strip()

'wow!'

In [21]:
'a_a_a'.strip('a')

'_a_'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [23]:
'apple'.find('p')

1

In [24]:
'apple'.find('f')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [26]:
'apple'.index('p')

1

In [28]:
'apple'.count('p')

2

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

In [ ]:
'apple'.isalpha() #알파벳으로 이루어져 있는가

In [31]:
'123'.isdecimal()

True

In [34]:
a = '12'
if a.isdecimal():
    a = int(a)
    # 다 못 적음..~~뭐 오류 확인하는 거였음..

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [35]:
inputs = input().split()
print(inputs)

5 3 12 1
['5', '3', '12', '1']

In [36]:
inputs = list(map(int, input().split()))
print(inputs)

5 3 12 1
[5, 3, 12, 1]

## 문자열 뒤집기

In [37]:
'123'[::-1]

'321'

In [39]:
''.join(reversed('123'))

'321'

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [41]:
cafe = ['starbucks', 'tomtoms', 'hollys']

In [42]:
cafe.append('caffebene')

In [43]:
print(cafe)

['starbucks', 'tomtoms', 'hollys', 'caffebene']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [44]:
cafe.extend(['ediya','빽다방'])

In [45]:
print(cafe)

['starbucks', 'tomtoms', 'hollys', 'caffebene', 'ediya', '빽다방']

In [48]:
[1,2,3]+[4,5] #와 같이 동작

[1, 2, 3, 4, 5]

In [49]:
#주의
cafe.extend('ediya')

In [50]:
print(cafe)

['starbucks', 'tomtoms', 'hollys', 'caffebene', 'ediya', '빽다방', 'e', 'd', 'i', 'y', 'a']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [52]:
fruits = ['apple', 'banana']
fruits.insert(0, 'pineapple')

In [53]:
print(fruits)

['pineapple', 'apple', 'banana']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [55]:
fruits.remove('apple')

In [59]:
print(fruits)

['pineapple', 'banana']

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

* remove보다 더 좋음. 뭐가 지워졌는지 알 수 있기 때문

In [61]:
fruits.pop(0)

'pineapple'

In [63]:
fruits.append('melon')
fruits.append('grapefruit')
fruits.append('starfruits')

In [64]:
print(fruits)

['banana', 'melon', 'grapefruit', 'starfruits']

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [68]:
a = [1, 7, 2, 3, 4, 5, 6, 4]

In [70]:
a.index(4)

4

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [69]:
a. count(4)

2

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [71]:
a.sort()

In [72]:
print(a)

[1, 2, 3, 4, 4, 5, 6, 7]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [74]:
a.sort(reverse=True)
print(a)

[7, 6, 5, 4, 4, 3, 2, 1]

In [75]:
a = [2,1,5]
list(reversed(a))

[5, 1, 2]

## 복사

In [80]:
# 리스트 복사를 해봅시다.
a = [1, 2, 3]
b = a

In [81]:
# b의 값을 바꾸고 a를 출력해봅시다.
b[0] = 5
print(a)

[5, 2, 3]

In [85]:
# 실제로 같은지 확인해봅시다.
print(b)
print(a == b)
print(id(a))
print(id(b))

[5, 2, 3]
True
2044296707080
2044296707080

In [86]:
# 숫자를 확인해봅시다.
a = 100005
b = a
b = 1003
print(a)

100005

In [87]:
a = 10005
print(id(a))
a = 123141123124
print(id(a))

2044301756304
2044301754512

In [ ]:
# 딕셔너리도 확인해봅시다.

In [90]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [91]:
# 복사 예시
a = [1,2,3]
b = a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [93]:
# 복사 예시2
a = [1,2,3]
b = list(a)
b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [94]:
# 얕은 복사 예시
import copy
a = [1, 2, 3]
b = copy.copy(a)
b[0] = 5
print(a)

[1, 2, 3]

In [97]:
a = [[1, 2], 2, 3]
b = a
b[0][0] = 5
print(a)

[[5, 2], 2, 3]

In [ ]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [98]:
# 깊은 복사 예시
import copy
a = [[1, 2], 2, 3]
b = copy.deepcopy(a)
b[0][0] = 5
print(a)

[[1, 2], 2, 3]

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [99]:
a.clear()

In [100]:
print(a)

[]

* del 써도 됨

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [102]:
even_list = []
cubic_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)
    cubic_list.append(i**3)
print(even_list)
print(cubic_list)

[2, 4, 6, 8, 10]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [105]:
#list comprehension
even_list = [x*2 for x in range(1, 6)]
print(even_list)

[2, 4, 6, 8, 10]

In [121]:
even_list = [x for x in range(1, 11) if x % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

In [123]:
even_list = [x*y for x in range(1,11) for y in range(1,4)]
print(even_list)

[1, 2, 3, 2, 4, 6, 3, 6, 9, 4, 8, 12, 5, 10, 15, 6, 12, 18, 7, 14, 21, 8, 16, 24, 9, 18, 27, 10, 20, 30]

In [106]:
cubic_list = [x**3 for x in range(1, 11)]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [120]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
pair = []
for g in girls:
    for b in boys:
        pair.append((g,b))
print(pair)
pair2 = [(b,g) for b in boys for g in girls]
print(pair2)

[('jane', 'justin'), ('jane', 'david'), ('jane', 'kim'), ('iu', 'justin'), ('iu', 'david'), ('iu', 'kim'), ('mary', 'justin'), ('mary', 'david'), ('mary', 'kim')]
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [161]:
pitagoras = [(x,y,z) for z in range(1,51) for y in range(1,51) for x in range(1,y) if x**2 + y**2 == z**2]
print(pitagoras)

[(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20), (15, 20, 25), (7, 24, 25), (10, 24, 26), (20, 21, 29), (18, 24, 30), (16, 30, 34), (21, 28, 35), (12, 35, 37), (15, 36, 39), (24, 32, 40), (9, 40, 41), (27, 36, 45), (30, 40, 50), (14, 48, 50)]

In [162]:
# 선생님 코드
result = [(x,y,z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [163]:
re = [(x,y,z) for x in range(1,5) for y in range(1,5) for z in range(1,5)]
print(re)

[(1, 1, 1), (1, 1, 2), (1, 1, 3), (1, 1, 4), (1, 2, 1), (1, 2, 2), (1, 2, 3), (1, 2, 4), (1, 3, 1), (1, 3, 2), (1, 3, 3), (1, 3, 4), (1, 4, 1), (1, 4, 2), (1, 4, 3), (1, 4, 4), (2, 1, 1), (2, 1, 2), (2, 1, 3), (2, 1, 4), (2, 2, 1), (2, 2, 2), (2, 2, 3), (2, 2, 4), (2, 3, 1), (2, 3, 2), (2, 3, 3), (2, 3, 4), (2, 4, 1), (2, 4, 2), (2, 4, 3), (2, 4, 4), (3, 1, 1), (3, 1, 2), (3, 1, 3), (3, 1, 4), (3, 2, 1), (3, 2, 2), (3, 2, 3), (3, 2, 4), (3, 3, 1), (3, 3, 2), (3, 3, 3), (3, 3, 4), (3, 4, 1), (3, 4, 2), (3, 4, 3), (3, 4, 4), (4, 1, 1), (4, 1, 2), (4, 1, 3), (4, 1, 4), (4, 2, 1), (4, 2, 2), (4, 2, 3), (4, 2, 4), (4, 3, 1), (4, 3, 2), (4, 3, 3), (4, 3, 4), (4, 4, 1), (4, 4, 2), (4, 4, 3), (4, 4, 4)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [164]:
words = 'Life is too short, you need python!'
vowel = 'aeiou'
result = [x for x in words if x not in vowel]
print(''.join(result))

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)