### 1. N 찍기

In [1]:
N = int(input())
if (N <= 100000):
    for val in range(1, N+1):
        print(val)

4
1
2
3
4

### 2. 기찍 N

In [4]:
N = int(input())
if (N <= 100000):
    for val in range(N, 0, -1):
        print(val)

5
5
4
3
2
1

### 3. 구구단

In [8]:
N = int(input())
for val in range(1, 10):
    print(f"{N} * {val} = {N * val}")

1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

### 4. 별 찍기 - 2

In [10]:
N = int(input())
for val in range(N):
    for space in range(N-val-1):
        print('', end = ' ')
    for star in range(val+1):
        print('*', end = '')
    print()

5
    *
   **
  ***
 ****
*****

###  5. 별 찍기 - 3

In [16]:
N = int(input())
for val in range(N):
    for space in range(N-val):
        print('*', end = '')        
    print()

4
****
***
**
*

###  6. 별 찍기 - 4

In [17]:
N = int(input())
for val in range(N):
    for space in range(val):
        print(' ', end = '')        
    for star in range(N-val):
        print('*', end = '')        
    print()

5
*****
 ****
  ***
   **
    *

###  8. 2007년

In [26]:
N = input()
date = N.split(' ')
x = int(date[0])
y = int(date[1])
weekday = ['MON','TUE','WED','THU','FRI','SAT','SUN']
end_day = [31,28,31,30,31,30,31,31,30,31,30,31]


day_cnt = 0
for idx in range(x):
    if idx < x-1:
        day_cnt += end_day[idx] 
    elif idx == x-1:
        day_cnt += y - 1
print(weekday[day_cnt % 7])

2 29
59
THU

### 9. 합

In [32]:
n = int(input())
sum = 0
for num in range(1, n+1):
    sum += num
print(sum)

4
10

### 10. 숫자의 합

In [38]:
N = int(input())
num = input()
sum = 0
for idx in range(N):
    sum += int(num[idx])
print(sum)

11
10987654321
46

###  11. 열 개씩 끊어 출력하기

In [56]:
N = input()

if int(len(N) / 10):
    for idx in range(int(len(N) / 10)):
        print(N[idx * 10:(idx+1) * 10])
    else:
        print(N[(idx+1) * 10:])
else:
    print(N)

oneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw
oneTwoneTw

###  12. 빠른 A+B

In [5]:
import sys

T = int(input())

for l in range(T):
    line = list(map(int, sys.stdin.readline().rstrip('\n').split(' ')))
    print(line[0]+line[1])
# 여기선 이상하게 실행 안됨.

2

ValueError: invalid literal for int() with base 10: ''