### 2072. 홀수만 더하기

In [3]:
T = int(input())
for i in range(T):
    case = list(map(int, input().split()))
    result = 0
    for x in case:
        if x % 2:
            result += x
    print(f'#{i+1} {result}')

3
3 17 1 39 8 41 2 32 99 2
#1 200
22 8 5 123 7 2 63 7 3 46
#2 208
6 63 2 3 58 76 21 33 8 1
#3 121

###  2071. 평균값 구하기

In [12]:
T = int(input())
for i in range(T):
    case = list(map(int, input().split()))
    avg = round(sum(case) / len(case))
    print(f'#{i+1} {avg}')

3
3 17 1 39 8 41 2 32 99 2
#1 24
22 8 5 123 7 2 63 7 3 46
#2 29
6 63 2 3 58 76 21 33 8 1
#3 27

### 2070. 큰 놈, 작은 놈, 같은 놈

In [13]:
T = int(input())
for i in range(T):
    result = ''
    case = list(map(int, input().split()))
    if case[0] > case[1]:
        result = '>' 
    elif case[0] == case[1]:
        result = '='
    else:
        result = '<'
    
    print(f'#{i+1} {result}')

3
3 8
#1 <
7 7
#2 =
369 123
#3 >

### 2068. 최대수 구하기

In [14]:
T = int(input())
for i in range(T):
    big = max(list(map(int, input().split())))
    print(f'#{i+1} {big}')

3
3 17 1 39 8 41 2 32 99 2
#1 99
22 8 5 123 7 2 63 7 3 46
#2 123
6 63 2 3 58 76 21 33 8 1
#3 76

### 2063. 중간값 찾기

In [7]:
N = int(input())
case = list(map(int, input().split()))
case = sorted(case)
mid = case[round(N / 2)-1]
print(mid)

199
85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20
#1 58

### 2058. 자릿수 더하기

In [11]:
result = sum(list(map(int,list(input()))))
print(result)

1234
10

### 2056. 연월일 달력

In [1]:
T = int(input())
month = ['01','02','03','04','05','06','07','08','09','10','11','12']
day = [31,28,31,30,31,30,31,31,30,31,30,31]

for i in range(T):
    result = ''
    case = input()
    result += case[:4] + '/'

    if case[4:6] in month:
        result += case[4:6] + '/'
    else:
        result = '-1'
        print(f'#{i+1} {result}')
        continue
        
    if int(case[-2:]) in range(1, day[int(case[4:6])-1]+1):
        result += case[-2:]
    else:
        result = '-1'
        print(f'#{i+1} {result}')
        continue
    print(f'#{i+1} {result}')

5
22220228
#1 2222/02/28
20150002
#2 -1
01010101
#3 0101/01/01
20140230
#4 -1
11111111
#5 1111/11/11

### 2050. 알파벳을 숫자로 변환

In [10]:
x = input()
result = ''
for word in x:
    result += ' ' + str(ord(word)-64)
print(result.lstrip())

ABCDEFGHIJKLMNOPQRSTUVWXYZ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

### 2047. 신문 헤드라인

In [13]:
n = input().upper()
print(n)

The_headline_is_the_text_indicating_the_nature_of_the_article_below_it.
THE_HEADLINE_IS_THE_TEXT_INDICATING_THE_NATURE_OF_THE_ARTICLE_BELOW_IT.

### 2046. 스탬프 찍기

In [14]:
x = int(input())
for i in range(x):
    print('#', end='')

3
###

### 2043. 서랍의 비밀번호

In [16]:
x = list(map(int, input().split()))
print(x[0]-x[1]+1)

123 100
24

###  2029. 몫과 나머지 출력하기

In [20]:
T = int(input())
for i in range(T):
    ab = list(map(int, input().split()))
    ab = divmod(ab[0],ab[1])
    print(f'#{i+1} {ab[0]} {ab[1]}')

3
9 2
#1 4 1
15 6
#2 2 3
369 15
#3 24 9

In [19]:
type(divmod(15,6))

tuple

### 2027. 대각선 출력하기

In [ ]:
print('#++++')
print('+#+++')
print('++#++')
print('+++#+')
print('++++#')

###  2025. N줄덧셈

In [24]:
m = int(input())
total = 0
for i in range(1, m+1):
    total += i
print(total)

9
45

###  1938. 아주 간단한 계산기

In [2]:
n = list(map(int, input().split()))
print(n[0]+n[1])
print(n[0]-n[1])
print(n[0]*n[1])
print(int(n[0]/n[1]))

8 3
11
5
24
2

### 1933. 간단한 N의 약수

In [11]:
N = int(input())
result = [div_num for div_num in range(1, N+1) if not N % div_num]
print(' '.join(list(map(str, sorted(result)))))

10
1 2 5 10

In [15]:
k=int(input())
[print(f'{i} ',end='') for i in range(1,k+1) if k%i==0]

10
1 2 5 10

[None, None, None, None]

### 1936. 1대1 가위바위보

In [23]:
AB = list(map(int, input().split()))
if (AB[0]-AB[1]) == 1 or (AB[0]-AB[1]) == -2:
    print('A')
elif (AB[0]-AB[1]) == -1 or (AB[0]-AB[1]) == 2:
    print('B')

3 2
A

### 2019. 더블더블

In [31]:
n = int(input())
[print(f'{2**i} ',end = '') for i in range(n+1)]

7
1 2 4 8 16 32 64 128

[None, None, None, None, None, None, None, None]

### 1545. 거꾸로 출력해 보아요

In [33]:
n = int(input())
[print(f'{n-i} ',end='')for i in range(n+1)]

8
8 7 6 5 4 3 2 1 0

[None, None, None, None, None, None, None, None, None]