### 11654 아스키 코드

In [6]:
N = input()
print(ord(N))

z
122

### 10809 알파벳 찾기

In [12]:
n = input()
a = 'abcdefghijklmnopqrstuvwxyz'
for x in a:
    if x in n:
        if x == 'z':
            print(n.index(x))
        else:
            print(n.index(x), end = ' ')
    else:
        if x == 'z':
            print(-1)
        else:
            print(-1, end = ' ')

backjoonz
1 0 2 -1 -1 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 8

### 2675 문자열 반복

In [23]:
t = int(input())
for i in range(t):
    rs = input().split()
    for x in rs[1]:
        print(x*int(rs[0]), end = '')
    print()
# 매 케이스마다 출력하려면 줄바꿈 해줘야함..

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

### 1157 단어 공부

In [11]:
n = input().upper()
m = list(set(n))

m2 = []
maxnum = 0
word = ''
for x in m:
    m2.append(n.count(x))
    if n.count(x) > maxnum:
        maxnum = n.count(x)
        word = x
if m2.count(max(m2)) > 1:
    print('?')
else:
    print(word)

baaa
A

### 1316 그룹 단어 체커

In [15]:
n = int(input())
cnt = 0
for w in range(n):
    nw = []
    word = list(input())
    nw.append(word[0])
    for i in range(len(word)-1):
        if word[i] != word[i+1]:
            nw.append(word[i+1])
    for x in nw:
        if nw.count(x) > 1:
            break
    else:
        cnt += 1
print(cnt)

4
aba
abab
abcabc
a
1

### 2908 상수

In [23]:
n = input().split()
a = n[0][::-1]
b = n[1][::-1]

if int(a) > int(b):
    print(a)
else:
    print(b)

347 745
['347', '745']
743

### 5622 다이얼

In [27]:
n = input()
val = ['ABC','DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
time = 0
for w in n:
    for idx, x in enumerate(val):
        if w in x:
            time += idx + 3
print(time)

ZAZ
23

### 2941 크로아티아 알파벳

In [39]:
n = input()
croa = ['c=','c-','dz=','d-','lj','nj','s=','z=']
for x in croa:
    if x in n:
        n = n.replace(x,'I')
print(len(n))

ddz=z=
3